/*.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	    text-decoration: none !important;
    

}*/
/*preloader*/
#globalUniverse{
	display: none;
}
/*loader Styles*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*search button*/
#searchButton{
	display: none;
}
/*dropdown menu*/
.dropdown-menu a:hover {
	background-color: #5DADE2 !important;
}
 
.navbar-default{
	background-color: rgb(0 0 0) !important;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu>li>a{
	color: #fff !important;
}
.dropdown-menu{
	background-color: #0a0a0a !important;
}
.navbar{
	margin-bottom:0px !important;
	 background-color: rgba(34, 34, 34, 0.56);
    border-color: rgba(8, 8, 8, 0);
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    
}
}
.container{
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar-inverse  {
    background-color: rgb(0 0 0);
    border-color: rgba(8, 8, 8, 0);
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}


.logo{
	width: 60%;
}
/*Loggin menu test*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color: #333;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    } 
}
/*carousel style*/
.carousel-caption{
	font-family: 'Allerta', sans-serif;
	color: #17202A;
}



/*travel packages*/
h1 {
    font-size: 18px;
    line-height: 22px;

}
#packages{
	 text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
    font-family: 'Abril Fatface', cursive;
}
.plane-draw{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.packs{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bellefair', serif;
    font-size: 20px;
}

.image-column{
	width: 100%;
	
}

.main-title-layer{
	background-color: rgba(51, 51, 51, 0.68);
	text-align: left;
    font-family: cursive;
    z-index: 1;
    position: relative;
    top: 242px; 
    color: white;
    height: 34px;
    font-family: 'Bree Serif', serif;

}
.main-title-layer h3{
	margin-left: 5px;
	 font-family: cursive;
	 text-align: left;
	 font-family: 'Bree Serif', serif;
	 text-decoration: none;

}
.grid-packages a{
	text-decoration: none;
}
img{
	margin-bottom: 0px !important;
}

/*Countries sector*/

.country-sector{
	background: #f2f5f7;
	text-align: center;
	margin-top: 100px
	
	
}
.list-inline{
	font-family: 'Kanit', sans-serif;
	font-size: 21px;
	color: #17202A;
	text-decoration: none !important;
}
.list-inline a {
     text-decoration: none ;
  }
.list-inline a:hover
{
    color:#5499C7;
    text-decoration:none;
    cursor:pointer;
}
/*styles of img in columns*/
.imgCounStd{
	padding-left: 0px !important; 
	padding-right: 0px !important
}

/*STARTS ALL IMAGES*/
/*col-md-6 */
#imgCountry-1{
	width: 484px;
    height: 328.422px;
}

/*col-md-6*/
#imgCountry-2{
	 width: 242px;
    height: 164.203px;
}

#imgCountry-3{
	width: 242px;
	height: 164.203px;
}
/*col-md-6*/
#imgCountry-4{
	width: 247px;
    height: 328.422px;
}


#imgCountry-5{
	width: 484px;
    height: 238.422px;
}
/*col-md-3*/
#imgCountry-6{
	width: 251px;
	height: 492.625px;

}


#imgCountry-7{
	width: 251px;
    height: 165px;
}

#imgCountry-8{
	width: 251px;
    height: 237px;
}
/*col-md-3*/
#imgCountry-9{
	height: 164px;
    width: 252px;
}
#imgCountry-10{
	width: 252px;
    height: 164px;
}
#imgCountry-11{
	width: 252px;
    height: 331px;
}
#imgCountry-12{
	width: 252px;
    height: 236px;
}
/*COLLAPSE ALL IMAGES*/


/*responsive style*/
#about-position{
	margin-top: 32px;
    padding-bottom: 80px; 
}

@media (min-width: 1200px)  {
  .travelPack{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;

  }
  .secCountry{
    width: 91.1%;
    margin-left: 7%;
  } 
  .list-countries{
    margin-bottom: 6%;
  }
  #imgCountry-4 {
    width: 245px;
  }
  .navbar-nav {
    margin-left: 25%;
  }
  .navbar-form {
    margin-left: 25%;
  }
  #imgContriesId-1{
    margin-left: -1px !important;
  }
  #imgContriesId-2{
    margin-left: -12px !important;
  }
}
/*Fade in a box*/
.container-list {
    position: relative;
    width: 100%;
    
}

.imgBox {
  opacity: 1;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  
}

.container-list:hover .imgBox {
  opacity: 0.3;
}

.container-list:hover .middle {
  opacity: 1;
}

.text {
  
  color: black;
  font-size: 30px;
  padding: 16px 32px;
  font-family: 'Bree Serif', serif;
  }
.text a{
	text-decoration: none;
}
/*about us*/
.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 76px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: #080808;
}

#fireworks { 
    width: 100%;
    height: auto;
    -webkit-filter: opacity(50%);filter: opacity(50%);
    
}
#two{
	position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 76px;
    font-family: 'Zilla Slab Highlight', cursive;
    color: #080808;
}
.weAre{
	margin-top: 58px;
}
.weAre p{
	font-family: 'Bellefair', serif;
	font-size: 34px;
}
.weAre h4{
	font-family: 'Abril Fatface', cursive;
	font-size: 39px;
    margin-left: 111px;
}
/*social network*/
.second-block{
	height: 500px;
}
#style-2::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e1e1e1;
}
header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	margin-left: 0px;
	float: left;
	height: 450px;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*footer*/
.global-footer{
	padding-top: 5%;
}
.footer{
	background-color: #191c20;
	height: 500px;
}
.over{
    float: left;
    width: 70px;
    height: 70px;
}
h5{
	color: white;
}
.popular-text a{
	text-decoration: none;
	text-decoration-line: none;
}
.popular-text{
    
    font-size: 18px;
    margin-right: 0px;
    margin-left: 82px;
    margin-top: -6px;
}
.list-popular{
	list-style-type: none;
}
.tag-list{
	display: inline-block;
	list-style-type: none;

}
.block{
	display: inline-block;
}
.button{
	background-color: black;
	border-color: black;
    color: white;


}
.button:hover{
	
	background-color: #5DADE2
}
.elsewhere a{
	text-decoration: none;
	text-decoration-line: none;
}
.team a{
	text-decoration: none;
	text-decoration-line: none;
}
/*styles of icons*/
.fa-facebook-square{
    color: #4470cf;
}

.fa-twitter-square{
	color: #5daed5;
}
.fa-linkedin-square{
	color: #3393c1;
}
.fa-instagram{
	color: #6C3483;
}
/*get in touch*/
.touch p{
	color:white;
}
.data{
	color:#6b6868;
}
.sub-footer{
    margin-top: 150px;
    background-color: black;
    height: 74px;
}
.data ul{
	padding-left: 0px !important;
	padding-right: 40px !important;
}
.list-social{
	list-style-type: none;
}
 .scrollbar{
overflow: auto; /*for horizontal and vertical scroll bars */
}

